@media screen and (max-width:600px){
    .nav-ber{
        flex-direction: column;
        display: flex;
        padding: 10px 20px;
     align-items: center;
     padding: 0px 0px;
    }
    .logo{
        width: 28.724px;
height: 33.516px;
    }
    .menu-text{display: flex;
    align-items: center;
    padding: 10px ;
    margin-left: 20px;
    padding-top: 40px;
    line-height: 40px;
   
    }
    .container{
        padding: 0;
        max-width: 100%;
    }
    .explore{
        max-width: 100%;
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
      
    }
    .pra-text{
        padding: 0;
        align-items: center;
        width: auto;
    }
    .input-section{
        display: flex;
        flex-direction: column;
     /* padding-bottom: 100px; */
        align-items: center;
        /* padding-bottom: 200px; */
       

    }
    input{
        width: 250px;
        height: 50px;
       border-radius: 8px;
       border: none;
       padding-left: 10px;
    }
    
    .heading-text{
        padding-top: 20px;
        font-size: 20px;
    }

    .inpt{
       
        /* width: 250px;
        height: 50px;  */
        position: relative;
    }
  .select{
  display: none;}
  .btn-primary {
    width: 250px;
    height: 50px;
  }

  /* secound part */
  .secound-part{
    flex-direction: column;
    margin-top: 50px;
    margin-left: 8px;
    align-items: center;
  }
  .img-part img{
    padding-top: 20px;
    width: 350px;
height: 342px;
    margin-left: 15px;
    margin-right: 10px;
  }
  .text-part h1{
    font-size: 20px;
  }
  .text-part p{
    width: 350px;
  }
  .text-part li{
    padding-left: 15px;
    width: 335px;
    
  }
  .text-part button{
    margin-left: 20px;
    width: 174px;
    height: 52px;
  }

  /* Choose Your Destination */
  .destination h1{
    
    color: #131318;

text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 20px;
  }
  .destination p{
margin-top: 20px;
    width: 250px;
    padding: 0;
    justify-content: center;
padding-left: 100px;
   
  }
   .fast-2img ,.secound-3img,  .last-2img {
    flex-direction: column;
   }
  
   #box1, #box2,  #box3,  #box4, #box5, #box6, #box7 {
    
    width: 350px;
    height: 200px;
    margin:auto;
    
   }

   /* why chose us */

   .discount-txt p{
    margin-top: 20px;
    width: 250px;
    padding: 0;
    justify-content: center;
padding-left: 100px;
   }

   .chose-us h1{
    color: #131318;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 20px;
   }
   .chose-us-p{
    margin-top: 20px;
    width: 250px;
    padding: 0;
    justify-content: center;
    padding-left: 100px;
    margin-bottom: 20px;
   }
   .card{
    flex-direction: column;
    width: 335px;
height: 289px;
margin:auto;
   }
   .fast-card{
    width: 250px;
    height: 250px;
   }
   .secound-card{
    width: 250px;
    height: 250px;
   }
   .last-card{
   
    width: 250px;
    height: 250px;
    margin:auto;
    
   }
   .last-container{
    margin-top:20px;
    padding: 0;
    padding-top: 300px;
    
   }
   /* deals and discount  */
   .discount-banner, .discount-banner2 {
    width: 335px;
height: 500px;
margin:auto;
   }
   .banner1 , .banner2, .banner3{
    width: 303px;
    height: 297px;
    margin-left: 15px;
    
   }
   .Packages-btn{
    margin: 20px 80px;
   }

   /* perfect place */
   .perfet-place{
   
    flex-direction: column;
   }
.perfect-text h2{ 
    color: #131318;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 20px;
}
.perfect-text p{
    margin-top: 20px;
    width: 250px;
    padding: 0;
    justify-content: center;
    padding-left: 100px;
    margin-bottom: 20px;
}
.perfect-text li{
    color: #131318;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    margin-left: 20px;
    
}
.vedio-part{
    margin-top: 20px;
    margin:auto;
    margin-top: 20px;
}
.vedio-part iframe{
    width: 350px;
height: 200px;
margin-left: 25px;
/* margin:auto; */

}
.perfect-text button{
    margin-left: 20px;
}
/* newsleter section */
.newsleter-section{
    flex-direction: column;
    /* margin: auto; */
}
/* .newsleter-section img{
    margin: auto;
} */

.newsleter{
    width: 335px;
height: 353px;
margin: auto;
margin-top: 20px;
}
.newsleter h3{
    width: 270px;
}
.newsleter p{
    width: 270px;
}
.input-news input{
    width: 288px;
height: 52px;
}
 .img-section-news , img{
    width: 350px;
    height: 300px;
    margin: auto;
    margin-top: 20px;



}
.img-section-news{
    position: relative;
}
.travel-btn{
    position: absolute;
    left: 100px;
    /* rotate: -60deg; */
    transform: rotate(-30.628deg);
   
    top: 220px;
    z-index: 1;
}
footer{
   
   
    margin-top: 20px;
}
.footer-text{
    margin-top: 20px;
  padding: 20px 100px;
}
.footer-pra{
    width: 287px;
    padding: 10px 30px;
}

}

